html, body {
    height:100%;
}
body {
    margin: 0px;
    padding: 0px;
    color:#000000;
    font-family:'Ubuntu', 'Droid Sans', 'dejavu sans';
	font-size: 10px;
    line-height: 1.4;
}

.wrapper {
    background:#f5f5f5 url('/media/images/bg.png') repeat-x;
    height:100%;
    min-height:100%;
}

a:hover {
    color:#00aaee;
}

a {
    text-decoration: none;
    color: #00aaee;
}

a img{
    border:none;
    text-decoration: none;
    color:transparent;
}

a:hover {
    text-decoration: underline;
}

.header {
    text-align:center;
    /*background:url('/media/images/strip.gif') repeat;*/
    background-color:#444;
    width:960px;
    height:100px;
    margin:auto;
    border-bottom-left-radius:5px;
    border-bottom-right-radius:5px;
    margin-bottom:20px;
}

.feedback {
    position:absolute;
    top:-32px;
    left:60%;
    z-index:3;
}

.maincont {
    background-color:transparent;
    width:977px;
    margin:auto;
    text-align:left;
    padding:10px;
    display:table;
}

.signup {
    float:right;
    width:400px;
    margin-right:40px;
    border:1px solid #00ccff;
}


.player {
    float:right;
    width:400px;
    margin-right:40px;
    padding-bottom:20px;
}

.info {
    float:left;
    width:460px;
    margin-left:20px;
    font-size:1.6em;
}

.player-audio {
	background-color:#eee;
	border:1px solid #00CCFF;
}

.playlist {
    background-color:#ccc;
    padding:5px 15px;
    text-align:center;
    font-size:1.2em;
}

.logs {
    
}

.error {
    color:#FF0000;
    display:block-inline;
    width:400px;
    text-align:center;
}

.errors {
    color:#FF0000;
    display:inline;
}

.infouser img {
    width:40px;
}

.useropts {
    font-size:0.6em;
}

.logs {
    float:right;
    width:400px;
    margin-right:40px;
    padding-bottom:20px;
    color:gray;
    font-size:1.2em;
}

form#radio select {
    background-color:transparent;
    border:1px solid #00ccff;
}

form#login {
    background-color:#eee;
    width: 100%;
    text-align:center;
    padding-top:15px;
}

form#login input {
    background: #ffffff;
    border: none;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    border-radius: 3px;
    font-style:italic;
    padding: 5px 10px;
    width: 300px;
    margin-bottom:10px;
    margin: auto;
    font-size: 1.4em;
}


form#login input:not([type=submit]):focus,
form#login textarea:focus {
    background-color: #ccc;
}

form#login button {
    background: #ccc;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    color: #000;
    display: block;
    letter-spacing: 1px;
    margin: auto;
    padding: 7px 15px;
    text-shadow: 0 1px 1px #000000;
    margin-bottom:15px;
}

form#login button:hover {
    background: #fff;
    cursor: pointer;
}

.signup-details {
    border-top:1px solid #ccc;
    font-size:1.2em;
    width: auto;
    padding:5px 20px;
    font-size:1.4em;
    text-align:center;
}

.footer {
    clear:both; 
    background-color: #444;
    padding: 0 0 1.5em 0;
    color: #fff;
    position:absolute;
    bottom:0px;
    width:100%;
    height:75px;
    font-size:1.2em;
    border-top: 2px solid #ccc;
}

.footerLicense {
    padding-top: 2em;
    margin-bottom: 2em;
    width:977px;
    margin:auto;
}

.footerLicense img {
    float: left;
    margin-right: 1em;
    padding-top: 4px;
}

.footleft{
    float:left;
    width:48%;
}

.footright{
    float:right;
    width:48%;
    text-align:right;
}

form.wide label {
    vertical-align:-40%;
}

form.wide input[type="text"],
form.wide input[type="password"] {
	padding: 6px 10px;
    background: #ffffff;
    border: none;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    border-radius: 3px;
    font-style:italic;
    padding: 5px 10px;
    width: 250px;
    margin-bottom:10px;
    margin: auto;
    font-size: 1.4em;
    float:right;
}

form.wide input[type="text"]:focus,
form.wide input[type="password"]:focus {
    background-color: #ccc;
}

form.wide button {
    border:1px solid #ccc;
	padding: 6px 10px;
    background: #ffffff;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    border-radius: 3px;
    padding: 5px 10px;
    width: auto;
    margin-bottom:10px;
    margin: auto;
    font-size: 1em;
    float:left;
}

form.wide button:hover {
    background-color: #ccc;
    cursor:pointer;
}

.box {
    position:absolute;
    width:700px;
    height:500px;
    top:50px;
    left:50%;
    margin-left:-350px;
    z-index:5;
    display:none;
    border:1px dashed gray;
}

.boxtext {
    text-align:left;
    padding:10px;
    background-color:#eee;
    font-size:1.3em;
}

.boxexit {
    position:absolute;
    top:-16px;
    right:-10px;
    z-index:60;
}
