{% extends "base.html" %}

{% block info %}

{% if validlink %}

<h2>Εισαγωγή νέου κωδικού</h2>

<form action="" method="post" class="wide">
{{ form.new_password1.errors }}
<p class="aligned wide"><label for="id_new_password1">Νέος κωδικός: </label>{{ form.new_password1 }}</p>
{{ form.new_password2.errors }}
<p class="aligned wide"><label for="id_new_password2">Επιβεβαίση κωδικού: </label>{{ form.new_password2 }}</p>
<p><button type="submit">Καταχώρηση</button></p>
</form>

{% else %}

<p>Το link αρχικοποίηση κωδικού ήταν λανθασμένο.</p>

{% endif %}

{% endblock %}

{% block player %}
{% endblock player %}

{% block login %}
{% endblock login %}
