{% extends "base.html" %}

{% block info %}

{% if validlink %}

<h1>Εισαγωγή νέου κωδικού</h1>

<form action="" method="post">
{{ form.new_password1.errors }}
<p class="aligned wide"><label for="id_new_password1">Νέος κωδικός: </label>{{ form.new_password1 }}</p>
{{ form.new_password2.errors }}
<p class="aligned wide"><label for="id_new_password2">Επιβεβαίση νέου κωδικού: </label>{{ form.new_password2 }}</p>
<p><input type="submit" value="καταχώρηση" /></p>
</form>

{% else %}

<p>Το link αρχικοποίηση κωδικού ήταν λανθασμένο.</p>

{% endif %}

{% endblock %}

{% block player %}
{% endblock player %}

{% block login %}
{% endblock login %}
