{% extends "base.html" %}

{% block info %}
<div class="box" id="tos">
    <iframe src="/tos/" width="700" height="500" frameborder="0" scrolling="auto"></iframe>
    <div class="boxexit">
        <a href="#" id="tosexit"><img src="/media/images/close.png" alt="close" /></a>
    </div>
</div>

  {% if form.errors %}
  <p class="errors">Παρακαλώ διορθώστε τα παρακάτω λάθη: {{ form.non_field_errors }}</p>
  {% endif %}

  <div style="font-weight:bold;">Δημιουργία λογαριασμού</div><br />
  
  <form method="post" action="" class="wide">
    <p>
      <label for="id_username">username:</label>
      {{ form.username }}
      {% if form.username.errors %}
        <div class="errors">{{ form.username.errors.as_text }}</div>
      {% endif %}
    </p>
    <p>
      <label for="id_email">e-mail:</label>
      {{ form.email }}
      {% if form.email.errors %}
        <p class="errors">{{ form.email.errors.as_text }}</p>
      {% endif %}
    </p>
    <p>
      <label for="id_password1">password:</label>
      {{ form.password1 }}
      {% if form.password1.errors %}
        <p class="errors">{{ form.password1.errors.as_text }}</p>
      {% endif %}
    </p>
    <p>
      <label for="id_password2">επανάληψη password:</label>
      {{ form.password2 }}
      {% if form.password2.errors %}
        <p class="errors">{{ form.password2.errors.as_text }}</p>
      {% endif %}

    </p>
    <p>
      <input type="checkbox" name="tos" value="1" required /></td>
      <td>Συμφωνώ με τους <a href="#" id="tosopen">όρους χρήσης</a>
    </p>
    <p class="submit"><input type="submit" value="Εγγραφή"></p>
  </form>

{% endblock %}

{% block player %}
{% endblock player %}

{% block login %}
{% endblock login %}

