body {
    margin: 0px;
    padding: 0px;
    background-color:#eee;
    color:#000000;
    font-family:'Ubuntu', 'Droid Sans', 'dejavu sans';
    font-size:12px;
}

a:hover {
    color:#009BE3;
}

a {
    text-decoration: none;
    color: #009BE3;
}

a img{
    border:none;
    text-decoration: none;
    color:transparent;
}

a:hover {
    text-decoration: underline;
}

.header {
    text-align:center;
    background:url('/media/images/strip.gif') repeat;
    width:100%;
    height:150px;
}

.cont {
    background-color:#F8F8F8;
    
}

.maincont {
    background-color:#fff;
    width:977px;
    margin:auto;
    text-align:left;
    padding:10px;
    display:table;  
}

.signup {
    float:right;
    width:400px;
    padding-right:40px;
    clear:right;
}


.player {
    float:right;
    width:400px;
    margin-right:40px;
    padding-bottom:20px;
}

.info {
    float:left;
    width:400px;
    padding:10px;
    padding-left:40px;
    font-size:0.9em;
}

#live_play {
    font-size:0.8em;
}

.error {
    color:#FF5001;
    display:block-inline;
    width:420px;
    text-align:center;
}

.infouser img{
    width:50px;

}

form#radio select {
    background-color:transparent;
    border:1px solid #009BE3;
}

form#login {
    background-color:#eee;
    /*
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    */
    border:1px solid #009BE3;
    padding: 10px;
    width: 400px;
}

form#login ol li {
    background-color: none;
    line-height: 30px;
    list-style: none;
    padding: 5px 10px;
    margin-bottom: 2px;
}

form#login ol ol li {
    background: none;
    border: none;
    float: left;
}

form#login label {
    float: left;
    font-size: 13px;
    width: 110px;
}

form#login fieldset fieldset label {
    background:none no-repeat left 50%;
    line-height: 20px;
    padding: 0 0 0 30px;
    width: auto;
}

form#login fieldset fieldset label:hover {
    cursor: pointer;
}

form#login input {
    background: #ffffff;
    border: none;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    border-radius: 3px;
    font-style:italic;
    outline: none;
    padding: 5px;
    width: 240px;
    font-size:13px;
}


form#login input:not([type=submit]):focus,
form#login textarea:focus {
    background: #ccc;
}

form#login button {
    background: #ccc;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    color: #000;
    display: block;
    letter-spacing: 1px;
    margin: auto;
    padding: 7px 15px;
    text-shadow: 0 1px 1px #000000;
}

form#login button:hover {
    background: #fff;
    cursor: pointer;
}


.footer {
    clear:both; 
    background-color: #eee;
    padding: 0 0 1.5em 0;
    color: #555;
    height:75px;
    position:absolute;
    bottom:0px;
    width:100%;
    font-size:0.8em;
    border-top: 2px solid #ccc;
}

.footerLicense {
    padding-top: 2em;
    margin-bottom: 2em;
    width:977px;
    margin:auto;
}

.footerLicense img {
    float: left;
    margin-right: 1em;
    padding-top: 4px;
}

.footleft{
    float:left;
    width:48%;
}

.footright{
    float:right;
    width:48%;
    text-align:right;
}

input[type="text"] {
	border: 1px solid #999;
	padding: 6px 10px;
	-webkit-border-radius: 8px;
	-moz-border-radius: 8px;
	border-radius: 8px;
}

textarea {
	border: 1px solid #999;
	padding: 6px 10px;
	-webkit-border-radius: 8px;
	-moz-border-radius: 8px;
	border-radius: 8px;
}
