<!DOCTYPE HTML>
<html>
<head>
<title>about ccradio</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="icon" href="/media/favicon.ico" type="image/x-icon" />
    <link rel="shortcut icon" href="/media/favicon.ico" type="image/x-icon" />
    <link rel="stylesheet" href="/media/style.css" type="text/css" media="screen" />
    <link href='http://fonts.googleapis.com/css?family=Ubuntu:regular,bold&subset=greek,latin' rel='stylesheet' type='text/css'>
</head>
<body>

<div class="boxtext">

<h2>﻿Ελεύθερο ψηφιακό μουσικό ραδιόφωνο ccradio.ellak.gr</h2><br />

Η <b>Εταιρεία Ελεύθερου Λογισμικού / Λογισμικού Ανοιχτού Κώδικα</b> (ΕΕΛ/ΛΑΚ, <a href="http://eellak.gr/" target="_blank">www.eellak.gr</a>) στο πλαίσιο των δράσεών της για την προώθηση του <b>Ανοιχτού Περιεχομένου</b> διαθέτει το ψηφιακό μουσικό ραδιόφωνο ccradio.ellak.gr.<br /><br />

Το ψηφιακό μουσικό ραδιόφωνο <b>ccradio.ellak.gr</b> είναι μια υπηρεσία που απευθύνεται κυρίως σε όσους θέλουν <b>να αναπαράγουν δημόσια στους χώρους τους μουσική που διανέμεται ελεύθερα</b> με άδειες Creative Commons(www.creativecommons.gr) και <b>δεν δημιουργεί απαιτήσεις από φορείς συλλογικής διαχείρισης.</b><br /><br />

Οι άδειες Creative Commons(www.creativecommons.gr) επιτρέπουν τη διάθεση δημιουργικού περιεχομένου(μουσική, κείμενο, οπτικο-ακουστικά και καλλιτεχνικά έργα) στο ευρύ κοινό κατά τρόπο που επιτρέπει νόμιμα την ελεύθερη διανομή, αναπαραγωγή και περαιτέρω χρήση του ψηφιακού περιεχομένου. Κατά αυτό τον τρόπο αυξάνεται την προσβασιμότητα στο υλικό και επιτρέπει την νόμιμη χρήση στο ιντερνέτ καθώς και σε διαδικτυακές υπηρεσίες συμμετοχικής δημιουργίας, όπως wikis και remix sites, κλπ.<br /><br />

Βασικός στόχος των αδειών Creative Commons είναι να <b>επιτρέπουν στο δημιουργό να επιλέγει ο ίδιος τον τρόπο με τον οποίον θα διαθέτει το πνευματικό του δημιούργημα</b> χωρίς  μεσάζοντες ή άλλους τρίτους που συχνά τον αναγκάζουν να χρησιμοποιήσει επιχειρηματικά μοντέλα που δεν ανταποκρίνονται στο κοινό του καλλιτέχνη ή στις τεχνολογίες που θέλει να χρησιμοποιήσει.<br /><br />

Οι άδειες Creative Commons έχουν μεταφερθεί στο Ελληνικό Δίκαιο από το 2007, καθώς και σε περισσότερες από <b>70 χώρες</b> με τουλάχιστον 100 συντονιστές στις χώρες αυτές και περισσότερα από 350 εκατομμύρια αδειοδοτημένα έργα. Επιπλέον, αποτελούν τον πλέον αποδεκτό τρόπο για τη διάθεση περιεχομένου από πλατφόρμες συλλογικής δημιουργίας, όπως η <b>Wikipedia</b>, ενώ η αναζήτηση ή χρήση αδειών Creative Commons υποστηρίζεται από υπηρεσίες και εργαλεία όπως Google, Flickr, Jamendo, YouTube, κλπ.<br /><br />

<b>Το ψηφιακό μουσικό ραδιόφωνο ccradio.ellak.gr είναι ελεύθερα προσβάσιμο όλο το εικοσιτετράωρο</b>, όμως για όσους θέλουν να αξιοποιήσουν τις πρόσθετες υπηρεσίες που προσφέρονται απαιτείται εγγραφή στο δικτυακό τόπο της ΕΕΛΛΑΚ. Τα εγγεγραμμένα μέλη μπορούν <b>να επιλέξουν το είδος της μουσικής που επιθυμούν</b> να αναπαράγουν μέσα από διαθέσιμες λίστες με διαφορετικά είδη μουσικής που ανανεώνονται συχνά. Επίσης οι χρήστες μέσα από τον λογαριασμό τους έχουν τη δυνατότητα <b>παρακολούθησης του ιστορικού τους ώστε να τεκμηριώνεται ο χρόνος, ο τόπος και το είδος της μουσικής που έχουν χρησιμοποιήσει.</b><br /><br /><br />



<span style="font-weight:bold;font-style:italic;">Για την ΕΕΛ/ΛΑΚ</span><br />
<span style="font-style:italic;"><b>H μη κερδοσκοπική Εταιρεία Ελεύθερου Λογισμικού/Λογισμικού Ανοικτού Κώδικα</b> (<a href="http://eellak.gr/" target="_blank">www.eellak.gr</a>, ΕΕΛ/ΛΑΚ) ιδρύθηκε το 2008 από 25 Πανεπιστήμια, Ερευνητικά Κέντρα και Τεχνολογικά Ιδρύματα. Η ΕΕΛ/ΛΑΚ έχει ως κύριο στόχο να συμβάλλει στην προώθηση και ανάπτυξη του <b>Ελεύθερου Λογισμικού</b>, του <b>Ανοιχτού Περιεχομένου</b> και των <b>Τεχνολογιών Ανοιχτής Αρχιτεκτονικής</b> στο χώρο της εκπαίδευσης, του δημόσιου τομέα και των επιχειρήσεων στην Ελλάδα, ενώ παράλληλα <b>φιλοδοξεί να αποτελέσει κέντρο γνώσης και πλατφόρμα διαλόγου για τις ανοιχτές τεχνολογίες</b>. Συνεργάζεται επίσης με τα <a href="http://wiki.creativecommons.org/Greece" target="_blank">Creative Commons</a> και είναι ιδρυτικό μέλος του <a href="http://www.communia-association.org/" target="_blank">COMMUNIA</a>.</span><br /><br />

<span style="font-style:italic;">Επικοινωνία: Δέσποινα Μητροπούλου: 210 7474-271, info at ellak.gr</span>
</div>


</body>
</html>
