<!DOCTYPE HTML>
<html>
<head>
<title>ccradio feedback</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="icon" href="/media/favicon.ico" type="image/x-icon" />
    <link rel="shortcut icon" href="/media/favicon.ico" type="image/x-icon" />
    <link rel="stylesheet" href="/media/css/style.css" type="text/css" media="screen" />
    <link href='http://fonts.googleapis.com/css?family=Ubuntu:regular,bold&subset=greek,latin' rel='stylesheet' type='text/css'>
</head>
<body>

<div class="boxtext">
<h2>Feedback</h2><br />

Για σχόλια, αναφορές σφαλμάτων, προτάσεις, κλπ μπορείτε να δημιουργήστε ένα
<a href="https://github.com/eellak/ccradio/issues" target="_blank">νέο issue</a> στο github.

</div>


</body>
</html>
