{% extends 'base.html' %}

{% block info %}
<div class="infouser">
    <div class="toplabel">about.me</div>
    <img src="/media/images/cat_{{ broadcaster.category.slug }}.svg" alt="{{ broadcaster.category.slug }}" /><br />
    <b>{{ broadcaster.title }}</b><br />
    <div class="useropts">[ <span style="color:gray;">επεξεργασία προφίλ</span> | <a href="/logout/">αποσύνδεση</a> ]</div><br />
    <form action="/panel/" method="post" id="radio" name="radio" onChange="document.radio.submit()">
        <label for=radio>Radio: </label>
        <select name="stream">
            {% for stream in streams %}
                <option value="{{ stream.id }}" {% ifequal stream.id broadcaster.stream.id %}selected{% endifequal %}>{{ stream.name }}</option>
            {% endfor %}
        </select>
    </form><br /><br />
</div>
{% endblock info %}

{% block logs %}
    <div class="logs">
        <div class="toplabel">radio.logs</div>
        <form action="/panel/logs/" method="post" class="wide" id="logs">
            <input type="text" id="datepicker" name="" placeholder="επιλογή ημερομηνίας"  /><br /><br />
            <button type="submit">λήψη</button>
        </form>
    </div>
{% endblock logs %}

{% block login %}
{% endblock login %}
