{% extends 'base.html' %}

{% block info %}
<div class="infouser">
    <img src="/media/images/cat_{{ broadcaster.category.slug }}.svg" alt="cafe" /><br />
    <b>{{ broadcaster.title }}</b><br /><br />
    <form action="/panel/" method="post" id="radio" name="radio" onChange="document.radio.submit()">
        <label for=radio>Radio: </label>
        <select name="stream">
            {% for stream in streams %}
                <option value="{{ stream.id }}" {% ifequal stream.id broadcaster.stream.id %}selected{% endifequal %}>{{ stream.name }}</option>
            {% endfor %}
        </select>
    </form>
    <br /><br /><br /><br /><br />
    <a href="/logout/">Αποσύνδεση</a>

</div>
{% endblock info %}

{% block login %}
{% endblock login %}
