<html>
<head>
    <link href="/media/jplayer/css/jPlayer.css" rel="stylesheet" type="text/css" />
    <link href="/media/jplayer/css/jplayer.blue.monday.css" rel="stylesheet" type="text/css" />
    <script type="text/javascript" src="/media/js/jquery-1.7.2.min.js"></script>
    <script>
    $(document).ready(function() {
        var refreshId = setInterval(function() {
            $('#live_play').load('/play/');
        }, 100000);
    });
    </script>
</head>

<body>
<div class="jp-audio">
	<div class="jp-type-single">
	    <div id="jp_interface_1" class="jp-interface">
	        
	        <div style="padding-left:35px;padding-top:25px;">
    	        <object type="application/x-shockwave-flash" data="http://chimeres.info/media/player.swf" id="player" height="33" width="330"><param name="movie" value="http://chimeres.info/media/player.swf"><param name="FlashVars" value="bg=0xf8f8f8&amp;leftbg=0xeeeeee&amp;lefticon=0x666666&amp;rightbg=0xcccccc&amp;rightbghover=0x999999&amp;righticon=0x666666&amp;righticonhover=0xffffff&amp;text=0x666666&amp;slider=0x666666&amp;track=0xFFFFFF&amp;initialvolume=50&amp;loop=no&amp;autostart=yes&amp;playerID=player&amp;titles=chimeres.gr&amp;soundFile=http://stream.creativecommons.gr:8000/{% if broadcaster.stream.uri %}{{broadcaster.stream.uri}}{% else %}live0{% endif %}"><param name="quality" value="high"><param name="menu" value="false"><param name="wmode" value="transparent"></object>
    	        </div>

    	    </div>
    	    <div id="jp_playlist_1" class="jp-playlist">
		<ul>
	    	    <li><span id="live_play">{% block play %}{{ play|truncatewords_html:7|safe }}{% endblock play %}</span></li>
		</ul>
    	    </div>

	</div>
</div>
</body>
</html>
